body {
    display: flex;
    /* border:solid salmon; */
    flex-direction: column;
    margin: 0;
    width: 100%;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    /* border: solid green; */
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(148, 148, 202, 0.199);
    transition: background-color 400ms linear 40ms;
}

.logo-container {
    /* border: solid orange; */
}

.logo {
    width: 5vw;
    height: 5vw;
    border: 1px solid rgba(31, 31, 158, 0.623);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/3661260/pexels-photo-3661260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.navBarLeft {
    /* border: solid red; */
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.navBarRight {
    /* border: solid blue; */
    width: 30%;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin-right: auto;
    align-items: center;
    /* border: solid paleturquoise; */
}

.nav-bar-item {
    /* border: solid darkcyan; */
    list-style:none;
    text-wrap: nowrap;
    cursor: pointer;
    margin-right: auto;
}

.nav-bar-item:hover {
    text-decoration: underline;
}
/* Hover Menu */
.menu-segment {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: 40%;
    gap: 0.4vw;
    padding: 1vw;
    /* border: 0.5px solid rgba(79, 79, 141, 0.507); */
    transition: background-color 400ms linear 40ms;
    cursor:pointer;
    flex-wrap:wrap;
}

.menu-segment:hover {
    background-color: rgba(148, 148, 202, 0.199);
}

.segment-title {
    font-weight:600;
}
/* Right Side Nav */
#join {
    background-color: rgba(82, 82, 230, 0.199);
    border-radius: 2vw;
    padding: 1vw;
    transition: 400ms linear 40ms;
    border: 1px solid transparent;
}

#join:hover {
    background-color: rgba(148, 148, 202, 0.199);
    border: 1px solid rgba(82, 82, 230, 0.199);
}

/* Overlay */
.signup-container, .login-container  {
    display: none;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(248, 238, 238, 0.911);
    z-index: 99;
    gap: 5%;
    padding: 15%;
    height: 50vh;
    min-width: 35vw;
}

.input-section, form {
    display: flex;
    gap: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.blur {
    background-color:  rgb(109, 97, 97);
    position: absolute;
    width: 100vw;
    height:100vh;
    z-index: 95;
}

.close-btn {
    width: 3vw;
    height:3vw;
    background-color: rgba(250, 83, 33, 0.87);
    border: 1px solid rgb(197, 94, 25);
    border-radius: 1vw;
    position: absolute;
    right: 20%;;
    top: 15%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */

main {
    display: flex;
    position: relative;
    flex-direction: column;
    border: solid black;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Main Picture Container */
.center-container {
    display: flex;
    /* border: solid brown; */
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.main-picture-container {
    margin-left: auto;
    margin-right: 12%;
    position: relative;
    width: 40vw;
    height:100%;
    /* border: solid blue; */
}

.main-picture {
    width: 100%;
    height:100%;
    background-position: center 45%;
    /* background-position: center; */ 
    /* border: solid grey; */
    background-image: url('https://images.pexels.com/photos/8014484/pexels-photo-8014484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.main-picture-text {
    border: solid black;
    position: absolute;
    z-index:1;
    width: 68%;
    height:20%;
    font-size: 3.6vh;
    left: 5%;
    bottom: 25%;
    background-color: rgba(215, 220, 225, 0.197);
    border: none;
    border-radius: 2vw;
    padding: 2vw;
}

/* Companies that trust us Slider */
.companies-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.companies-slider-container {
    border: 1px solid rgba(77, 77, 167, 0.678);
    border-radius: 1vw;
    min-width: 75%;
    max-height: 7vh;
    display: flex;
    gap: 4%;
    overflow: hidden;
}

.slider-image {
    width: 10vw;
    height: 5vh;
}

/* Reviews Container */
.reviews-container {
    display: flex;
    border: solid brown;
    justify-content: space-evenly;
    align-items: center;
}

.title-container {
    border: solid seagreen;
}

.all-reviews {
    border: solid slateblue;
}

/* Attention Container */
.attention-container {
    display: flex;
    border: solid burlywood;
    justify-content: space-evenly;
    align-items: center;
}

.schedule-demo {
    border: solid hotpink;
}

.attention-title {
    border: solid goldenrod;
}

/* footer */
footer {
    display: flex;
    border: solid burlywood;
    justify-content: space-evenly;
    align-items: center;
}

.footer-column {
    border: solid greenyellow;
}