body {
    display: flex;
    /* border:solid salmon; */
    flex-direction: column;
    margin: 0;
    width: 100%;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    /* border: solid green; */
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(148, 148, 202, 0.199);
    transition: background-color 400ms linear 40ms;
}

.logo-container {
    /* border: solid orange; */
}

.logo {
    width: 5vw;
    height: 5vw;
    border: 1px solid rgba(31, 31, 158, 0.623);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/3661260/pexels-photo-3661260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.navBarLeft {
    /* border: solid red; */
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.navBarRight {
    /* border: solid blue; */
    width: 30%;
}

ul {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin-right: auto;
    align-items: center;
    /* border: solid paleturquoise; */
}

.nav-bar-item {
    /* border: solid darkcyan; */
    list-style:none;
    text-wrap: nowrap;
    cursor: pointer;
    margin-right: auto;
}

.nav-bar-item:hover {
    text-decoration: underline;
}
/* Hover Menu */
.menu-segment {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: 40%;
    gap: 0.4vw;
    padding: 1vw;
    /* border: 0.5px solid rgba(79, 79, 141, 0.507); */
    transition: background-color 400ms linear 40ms;
    cursor:pointer;
    flex-wrap:wrap;
}

.menu-segment:hover {
    background-color: rgba(148, 148, 202, 0.199);
}

.segment-title {
    font-weight:600;
}
/* Right Side Nav */
#join {
    background-color: rgba(82, 82, 230, 0.199);
    border-radius: 2vw;
    padding: 1vw;
    transition: 400ms linear 40ms;
    border: 1px solid transparent;
}

#join:hover {
    background-color: rgba(148, 148, 202, 0.199);
    border: 1px solid rgba(82, 82, 230, 0.199);
}

/* Overlay */
.signup-container, .login-container  {
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 0;
    background-color: rgba(243, 238, 248, 0.911);
    border: 1px solid rgba(209, 206, 233, 0.911);
    box-shadow: 7px 11px 33px 2px rgba(183, 195, 228, 0.5);
    z-index: 99;
    gap: 5%;
    padding: 15%;
    height: 50vh;
    min-width: 35vw;
}

.buttons-container {
    margin-top: 2em;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-section, form {
    display: flex;
    gap: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.blur {
    background-color:  rgb(109, 97, 97);
    position: absolute;
    width: 100vw;
    height:100vh;
    z-index: 95;
}

.close-btn {
    width: 3vw;
    height:3vw;
    background-color: rgba(250, 83, 33, 0.87);
    border: 1px solid rgb(197, 94, 25);
    border-radius: 1vw;
    position: absolute;
    right: 20%;;
    top: 15%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */

main {
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: solid black; */
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

/* Main Picture Container */
.center-container {
    display: flex;
    /* border: solid brown; */
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-bottom: 1em;
}

.main-picture-container {
    margin-left: auto;
    margin-right: 12%;
    width: 40vw;
    height:100%;
    /* border: solid blue; */
}

.main-picture {
    width: 100%;
    height:100%;
    background-position: center 45%;
    /* background-position: center; */ 
    /* border: solid grey; */
    background-image: url('https://images.pexels.com/photos/8014484/pexels-photo-8014484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.main-picture-text {
    border: solid black;
    position: absolute;
    z-index:1;
    width: 68%;
    height:20%;
    font-size: 3.6vh;
    font-weight: 700;
    left: 5%;
    bottom: 20%;
    background-color: rgba(33, 26, 139, 0.568);;
    border: none;
    border-radius: 2vw;
    padding: 2vw;
    color:rgba(255, 255, 255, 0.781);
    letter-spacing: 0.2vw;
    word-spacing: 0.5vw;
    box-shadow: 10px 10px 122px 5px rgb(158, 155, 155);
}

/* Companies that trust us Slider */
.companies-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.companies-slider-container {
    border: 1px solid rgba(77, 77, 167, 0.678);
    border-radius: 1vw;
    min-width: 75%;
    max-height: 7vh;
    display: flex;
    gap: 4%;
    overflow: hidden;
}

.slider-image {
    width: 10vw;
    height: 5vh;
}

/* Reviews Container */
.reviews-container {
    display: flex;
    border: 1px solid rgba(105, 90, 205, 0.562);
    border-radius: 0.5vw;
    /* border: solid brown; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 4em;
    width: 95%;
    height: 60vh;
    cursor: pointer;
}

.title-container {
    /* border: solid seagreen; */
    letter-spacing: 0.4vw;
}

.all-reviews {
    display: flex;
}

/* Single review container */
.review-container {
    padding-top: 1vh;
    /* border: solid green; */
    display: flex;
    height: 50vh;
    width:33%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    position: relative;
    background-color:  unset;
    border-bottom: 5px solid transparent;
    overflow: hidden;
    transition: border-bottom 400ms linear 100ms
    ,background-color 100ms linear 40ms;
}

.review-container:hover {
    border-bottom: 5px solid rgba(41, 41, 163, 0.692);
    background-color:rgba(175, 175, 221, 0.199);
}

.review-container:hover > .review-image-container {
    width: 26vw;
    height: 26vh;
}

.review-container:hover > .review-review {
    background-color: rgba(255, 255, 255, 0.527);
} 

.review-name {
    align-self: left;
    /* border: solid salmon; */
    font-size:1.5em;
    letter-spacing: 0.2vw;
    color: rgba(33, 33, 90, 0.822);
    position: absolute;
    top: 30%;
    right: 3%;
    background-color: rgba(255, 255, 255, 0.596);
}

.review-image-container {
    /* border: solid red; */
    width: 22vw;
    height: 22vh;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    transition: width 400ms linear 100ms, height 400ms linear 100ms;
}

.review-image {
    /* border: solid blue; */
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-review {
    background-color: rgba(211, 205, 248, 0.233);
    transition:background-color 100ms linear 40ms;
    border: 1px solid grey;
    border-radius: 0.5vw;
    letter-spacing: 0.05vw;
    padding: 1vw;
    margin-bottom: 15%;
    width: 70%;
    box-shadow: 10px 10px 5px 0px rgba(219,216,219,0.5);

}

/* Attention Container */
.attention-container {
    display: flex;
    flex-direction: column;
    /* border: solid burlywood; */
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin-bottom: 2em;
    box-shadow: -100px 80px 64px -89px rgba(137, 157, 247, 0.507);
    background: rgba(159,173,235,1);
    background: -moz-linear-gradient(45deg, rgba(159,173,235,1) 0%, rgba(213,219,246,1) 17%, rgba(248,248,252,1) 34%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(159,173,235,1)), color-stop(17%, rgba(213,219,246,1)), color-stop(34%, rgba(248,248,252,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(159,173,235,1) 0%, rgba(213,219,246,1) 17%, rgba(248,248,252,1) 34%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(159,173,235,1) 0%, rgba(213,219,246,1) 17%, rgba(248,248,252,1) 34%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(159,173,235,1) 0%, rgba(213,219,246,1) 17%, rgba(248,248,252,1) 34%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(159,173,235,1) 0%, rgba(213,219,246,1) 17%, rgba(248,248,252,1) 34%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fadeb', endColorstr='#ffffff', GradientType=1 );
}

.schedule-demo {
    border: solid aliceblue;
    align-self: self-end;
    margin-top: 15%;
    margin-right: 15%;
    margin-bottom: 8%;
    background-color: rgba(81, 70, 228, 0.87);
    color: white;
    padding: 1.5vw;
    border-radius: 1vw;
    cursor: pointer;
    transition: background-color 300ms linear 50ms;
}

.schedule-demo:hover {
    background-color: rgba(212, 209, 255, 0.87);
    color: rgb(37, 21, 185);
}

.demo-text {
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}

.attention-title {
    /* border: solid goldenrod; */
    align-self:self-start;
    margin: 10%;
    margin-left: 12%;
    font-size: 4vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    word-wrap: wrap; 
    gap:0;
    font-family: "Josefin Sans", sans-serif;
}
.h3 {
    margin-left: 35%;
}

/* footer */
footer {
    display: flex;
    border-bottom: 15px solid rgba(81, 70, 228, 0.87);
    justify-content: space-evenly;
    align-items: stretch;
    padding-bottom: 5%;

}

.footer-column {
    /* border: solid greenyellow; */
}

.footer-title {
    /* border: solid purple; */
    text-transform: uppercase;
    font-weight: 600;
}

.footer-ul {
    line-height: 3vh;
}

footer li {
    list-style: none;
    cursor:pointer;
}
footer li:hover {
    text-decoration: underline;

}
.copy {
    order: 2;
}