body {
    display: flex;
    /* border:solid salmon; */
    flex-direction: column;
    margin: 0;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    /* border: solid green; */
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(148, 148, 202, 0.199);
    transition: background-color 400ms linear 40ms;
}

/* nav:hover {
    background-color: rgba(132, 132, 194, 0.349);
} */

.logo-container {
    /* border: solid orange; */
}

.logo {
    width: 5vw;
    height: 5vw;
    border: 1px solid rgba(31, 31, 158, 0.623);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/3661260/pexels-photo-3661260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.navBarLeft {
    /* border: solid red; */
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.navBarRight {
    /* border: solid blue; */
    width: 30%;
}
ul {
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin-right: auto;
    align-items: center;
    /* border: solid paleturquoise; */
}

.nav-bar-item {
    /* border: solid darkcyan; */
    list-style:none;
    text-wrap: nowrap;
    cursor: pointer;
    margin-right: auto;
}
.nav-bar-item:hover {
    text-decoration: underline;
}

.menu-segment {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    width: 40%;
    gap: 0.4vw;
    padding: 1vw;
    /* border: 0.5px solid rgba(79, 79, 141, 0.507); */
    transition: background-color 400ms linear 40ms;
    cursor:pointer;
    flex-wrap:wrap;
}

.menu-segment:hover {
    background-color: rgba(148, 148, 202, 0.199);
}

.segment-title {
    font-weight:600;
}

#join {
    background-color: rgba(82, 82, 230, 0.199);
    border-radius: 2vw;
    padding: 1vw;
    transition: 400ms linear 40ms;
    border: 1px solid transparent;
}

#join:hover {
    background-color: rgba(148, 148, 202, 0.199);
    border: 1px solid rgba(82, 82, 230, 0.199);
}

.signup-container, .login-container  {
    display: none;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(233, 225, 225, 0.842);
    z-index: 100;
}


.blur {
    background-color:  gray;
    position: absolute;
    width: 100vw;
    height:100vh;
    z-index: 95;
}

/* Main */

main {
    display: flex;
    position: relative;
    flex-direction: column;
    border: solid yellow;
    justify-content: center;
    align-items: center;
}

/* Main Picture Container */
.center-container {
    display: flex;
    border: solid brown;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.main-picture-container {
    margin-left: auto;
    margin-right: 12%;
    width: 40vw;
    height:100%;
    /* border: solid blue; */
}

.main-picture {
    width: 100%;
    height:100%;
    background-position: center 45%;
    /* background-position: center; */ 
    border: solid grey;
    background-image: url('https://images.pexels.com/photos/8014484/pexels-photo-8014484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.main-picture-text {
    border: solid black;
    position: absolute;
    z-index:1;
    width: 68%;
    height:20%;
    font-size: 3.6vh;
    left: 5%;
    top: 42%;
    background-color: rgba(215, 220, 225, 0.197);
    border: none;
    border-radius: 2vw;
    padding: 2vw;
}

/* Companies that trust us Slider */
.companies-slider-container {
    border: solid lightblue;
}

/* Reviews Container */
.reviews-container {
    display: flex;
    border: solid brown;
    justify-content: space-evenly;
    align-items: center;
}

.title-container {
    border: solid seagreen;
}

.all-reviews {
    border: solid slateblue;
}

/* Attention Container */
.attention-container {
    display: flex;
    border: solid burlywood;
    justify-content: space-evenly;
    align-items: center;
}

.schedule-demo {
    border: solid hotpink;
}

.attention-title {
    border: solid goldenrod;
}

/* footer */
footer {
    display: flex;
    border: solid burlywood;
    justify-content: space-evenly;
    align-items: center;
}

.footer-column {
    border: solid greenyellow;
}